.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 16px 'Roboto', sans-serif;
  background: white; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

select, input, textarea {
  font-size: 12px;
  vertical-align: middle; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit] {
  cursor: pointer; }

img, fieldset {
  border: 0;
  width: auto;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

.gamburger {
  display: none;
  border-top: 4px solid #4e6783;
  border-bottom: 4px solid #4e6783;
  padding: 10px 20px;
  position: relative;
  max-width: 20px;
  width: 100%;
  float: right; }
  .gamburger:before {
    margin: 0;
    content: '';
    max-width: 10px;
    border-top: 4px solid #4e6783;
    padding: 0 15px;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 15px); }
  .gamburger:hover .gam-menu {
    display: block;
    position: absolute;
    left: -100%;
    top: 100%;
    z-index: 100; }
  .gamburger:hover .gam-menu ul {
    background: rgba(0, 0, 0, 0.65); }
  .gamburger .gam-menu li {
    width: 100%; }
  .gamburger .gam-menu a {
    text-align: center;
    padding: 5px;
    color: white;
    width: 100%;
    white-space: nowrap;
    display: block; }
  .gamburger .gam-menu a:hover {
    color: #dfad00; }

@media screen and (min-width: 320px) and (max-width: 599px) {
  .container {
    max-width: 320px; }
  .xs-col-12 {
    width: 100%; }
  .xs-col-8 {
    width: 66.6667%; }
  .xs-col-6 {
    width: 50%; }
  .xs-col-4 {
    width: 33.3333%; }
  .xs-col-3 {
    width: 25%; } }

@media screen and (min-width: 600px) and (max-width: 799px) {
  .container {
    max-width: 600px; }
  .sm-col-12 {
    width: 100%; }
  .sm-col-8 {
    width: 66.6667%; }
  .sm-col-6 {
    width: 50%; }
  .sm-col-4 {
    width: 33.3333%; }
  .sm-col-3 {
    width: 25%; } }

@media screen and (min-width: 800px) and (max-width: 999px) {
  .container {
    max-width: 800px; }
  .m-col-12 {
    width: 100%; }
  .m-col-8 {
    width: 66.6667%; }
  .m-col-6 {
    width: 50%; }
  .m-col-4 {
    width: 33.3333%; }
  .m-col-3 {
    width: 25%; } }

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .container {
    max-width: 1000px; }
  .lm-col-12 {
    width: 100%; }
  .lm-col-8 {
    width: 66.6667%; }
  .lm-col-6 {
    width: 50%; }
  .lm-col-4 {
    width: 33.3333%; }
  .lm-col-3 {
    width: 25%; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px; }
  .lg-col-12 {
    width: 100%; }
  .lg-col-8 {
    width: 66.6667%; }
  .lg-col-6 {
    width: 50%; }
  .lg-col-4 {
    width: 33.3333%; }
  .lg-col-3 {
    width: 25%; } }

/* Header */
.site-header {
  background-color: #111; }

.header-head {
  width: 100%;
  border-bottom: 1px solid  #ccc;
  padding: 40px 0; }

.site-logo {
  float: left;
  padding: 30px 0; }

/*Navigation Menus*/
.site-nav ul {
  float: right; }

.site-nav ul:before, .site-nav ul:after {
  content: "";
  display: table; }

.site-nav ul:after {
  clear: both; }

.site-nav ul {
  *zoom: 1; }

.site-nav ul li {
  list-style: none;
  float: left; }

/*Site Header Menus*/
.site-header nav ul li {
  margin: 0 auto; }

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
  font-family: 'NexaBold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
  display: block;
  padding: 20px 18px;
  text-transform: uppercase;
  color: #ccc; }

.site-header nav ul li a:hover {
  opacity: 0.6; }

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
  color: white; }

.primary-mobile-nav {
  display: none; }

.gamburger {
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  display: none;
  border-top: 4px solid #4e6783;
  border-bottom: 4px solid #4e6783;
  padding: 10px 20px;
  max-width: 20px;
  width: 100%;
  float: right; }
  .gamburger:before {
    content: '';
    max-width: 20px;
    border-top: 4px solid #4e6783;
    padding: 0 20px;
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 20px); }

.primary-mobile-nav {
  clear: both; }
  .primary-mobile-nav li {
    display: block;
    float: none !important;
    text-align: right; }
    .primary-mobile-nav li a {
      padding: 5px 0 !important; }

@media (max-width: 700px) {
  .gamburger {
    display: block; }
  .primary-nav {
    display: none; } }

.container {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

a:link,
a:visited {
  color: #5f5b5b;
  font-family: 'Lato', sans-serif; }

p {
  line-height: 1.65em; }

h2 {
  color: #111;
  font-family: 'NexaBold', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  padding: 20px 0; }

/*General Layout*/
/*Categories Nav*/
.category {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc; }

.category-nav {
  float: right; }
  .category-nav li {
    float: left; }
  .category-nav a {
    display: block;
    padding: 10px;
    color: #555;
    font-family: 'NexaBold', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 41px; }

.category-nav ul li a:link,
.category-nav ul li a:visited {
  color: #555;
  font-family: 'NexaBold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 41px; }

.category-nav ul li a:hover {
  opacity: 0.6; }

.category-nav ul li.current-menu-item a:link,
.category-nav ul li.current-menu-item a:visited,
.category-nav ul li.current-page-ancestor a:link,
.category-nav ul li.current-page-ancestor a:visited {
  border-bottom: 1px solid black; }

/*Categories Nav*/
article.post {
  padding: 60px 0;
  border-bottom: 1px solid #ccc; }

article.post:last-of-type {
  border-bottom: none; }

/* Aside Styles*/
.mini-meta {
  font-size: 68%;
  margin: 0;
  color: #777; }

/* Link Post Format Styles*/
article.post-link {
  padding: 0;
  background-color: #E0EBFF; }

article.post-link a {
  display: block;
  padding: 20px; }

/*Page layout*/
article.page h2 {
  color: #fefefe;
  font-size: 36px;
  font-weight: 600;
  line-height: 18px;
  padding: 30px 20px; }

/*Info-box Styles*/
div.info-box {
  width: 30%;
  float: right;
  margin: 0  0 30px 30px;
  padding: 20px;
  background-color: #EEE; }

div.info-box h4 {
  margin-bottom: 6px; }

div.info-box p {
  font-size: 85%; }

/*Children Links*/
.children-links {
  padding: 50px 0;
  font-size: 80%; }

.children-links a:link,
.children-links a:visited {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase; }

.children-links ul {
  float: left; }

.children-links li + li:before {
  content: '/';
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 10px; }

.children-links .parent-link a:link,
.children-links .parent-link a:visited {
  color: #87b672; }

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
  border-bottom: 1px solid #DDD;
  color: #87b672;
  cursor: pointer; }

/* Post Styles*/
.read-more {
  clear: both;
  padding: 10px 0;
  color: #111;
  font-family: 'ProximaNova',sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; }

.aline {
  padding: 0 20px; }

.post {
  color: #111;
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

.post h2, .post-info {
  text-align: center;
  padding: 10px 0; }

.post h2 {
  margin-bottom: 0;
  color: #111;
  font-family: 'NexaBold', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px; }

p.post-info {
  color: #555;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px; }

p.post-info a:link,
p.post-info a:visited {
  color: #555; }

/*Image styles*/
.has-thumbnail {
  position: relative; }

.post-thumbnail {
  padding: 40px 0; }

.post-thumbnail img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.footer-widget-area {
  display: inline-block;
  padding: 0 40px; }

/* Footer */
.site-footer {
  font-family: 'ProximaNovaRegular', sans-serif;
  color: #9b9999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 20px 0;
  border-top: 1px solid black; }

.footer-nav, .copyright, .footer-widget-area {
  width: 33%;
  float: left; }

/*Site Footer Menus*/
.footer-nav ul li {
  margin-right: 10px;
  padding-right: 10px;
  float: left; }

.footer-nav ul li a {
  color: #555;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px; }

/*Footer-widget-area*/
.footer-widget-area a {
  margin: 0 auto; }

/*--------------------------------------------------------------
 Comments
--------------------------------------------------------------*/
.comments-title {
  font-weight: 900;
  font-size: 36px;
  font-size: 3.6rem; }

.comments-area > ol {
  padding: 0;
  margin: 2em 0;
  list-style-type: none; }

ol.children {
  list-style-type: none; }

.comment-list ol {
  margin-left: 50px; }

.comment-meta {
  margin-bottom: 1em; }

.comment-author .avatar {
  width: 50px;
  display: block;
  float: left;
  margin-right: 20px; }

.comment-author .fn {
  color: #111;
  font-family: 'ProximaNova', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 50px; }

.comment-metadata {
  color: #555;
  font-family: 'ProximaNova', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 50px; }

.comment-content {
  color: #111;
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

.comment-content,
.reply {
  margin-left: 70px; }

.comment-body {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: solid #cccccc 1px; }

.comment-content a {
  word-wrap: break-word; }

.comment-content ol {
  margin-left: 1.5em; }

.reply {
  color: #555;
  font-family: 'ProximaNova', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px; }

/* Comments responsive */
@media screen and (max-width: 600px) {
  .comment-list ol {
    margin-left: 0; }
  .comment-content ol {
    margin-left: 1.5em; }
  .comment-content,
  .reply {
    margin-left: 0; } }

/*Footer Widget Area*/
.footer-widgets {
  padding-top: 60px;
  color: #9b9999; }

.footer-widgets > div {
  float: left;
  width: 20%; }

.footer-widgets h1 {
  text-transform: uppercase;
  color: #fefefe;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; }

.footer-widgets .widget-item li:before {
  content: ">  ";
  color: #fefefe; }

.footer-widgets a {
  text-align: left;
  color: #9b9999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

/*Newsletter*/
.site-footer .footer-widget-area-3 form {
  padding-top: 30px; }

.site-footer .footer-widget-area-3 .email {
  background-color: #4e4c4c;
  border: 0;
  padding: 10px; }

.site-footer .footer-widget-area-3 .email-submit {
  background-color: #828282;
  border: 0;
  padding: 5px;
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px; }

.about-article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px; }

.teem-list {
  margin: 0 auto; }

.teem {
  width: 33%;
  padding: 30px 50px;
  float: left;
  display: block;
  text-align: center;
  box-sizing: border-box; }
  .teem img {
    width: 100%; }
  .teem:nth-child(4n) {
    clear: left; }

@media screen and (max-width: 800px) {
  .teem {
    width: 50%; }
    .teem:nth-child(4n) {
      clear: none; }
    .teem:nth-child(3n) {
      clear: left; } }

@media screen and (max-width: 450px) {
  .teem {
    width: 100%;
    clear: both; }
    .teem:nth-child(4n) {
      clear: none; }
    .teem:nth-child(3n) {
      clear: none; } }

.about-title {
  padding-top: 80px; }
